@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --dark-text-color: #212121;
  --light-text-color: #ffffff;
  --description-text-color: #757575;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --main-background-color: #ffffff;
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --header-border: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-text-color);
  background-color: var(--main-background-color);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px; /* 1170px + 15px left + 15px right */
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__decor--dark {
  color: #000000;
}

.logo__decor--light {
  color: var(--light-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--duration) var(--function);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

.input {
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: outline-color var(--duration) var(--function), outline var(--duration) var(--function);
}
.input:focus {
  outline-color: var(--accent-color);
}
.input:hover {
  outline: 2px solid var(--accent-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__link--light-bg {
  background-color: var(--main-background-color);
  color: #afb1b8;
  transition: color var(--duration) var(--function), background-color var(--duration) var(--function);
}
.socials__link--light-bg:hover, .socials__link--light-bg:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}
.socials__link--dark-bg {
  background-color: #44454e;
  color: var(--main-background-color);
  transition: background-color var(--duration) var(--function);
}
.socials__link--dark-bg:hover, .socials__link--dark-bg:focus {
  background-color: var(--accent-color);
}
.socials__icon {
  --icon-color: currentColor;
  fill: var(--icon-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--function), visibility 500ms var(--function);
}

/* Добавляется скриптом к бэкдропу */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms var(--function), visibility 500ms var(--function);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 500ms var(--function), transform 500ms var(--function), opacity 500ms var(--function);
}
.backdrop.is-hidden .modal {
  transform: scale(0);
  opacity: 0;
  transition: width 500ms var(--function), transform 500ms var(--function), opacity 500ms var(--function);
}
.modal__close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.modal__svg {
  fill: currentColor;
  transition: fill var(--duration) var(--function);
}
.modal__close-btn:hover .modal__svg, .modal__close-btn:focus .modal__svg {
  fill: var(--accent-color);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--dark-text-color);
  display: block;
  margin-bottom: 12px;
}

.content-wrap {
  transform: scale(1);
  transition: transform 500ms var(--function), opacity 700ms var(--function);
}
.backdrop.is-hidden .content-wrap {
  transform: scale(0);
  opacity: 0;
  transition: transform 500ms var(--function), opacity 500ms var(--function);
}

.form__item {
  margin-bottom: 10px;
}
.form__label {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--description-text-color);
  display: block;
  margin-bottom: 4px;
}
.form__input-wrap {
  position: relative;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color var(--duration) var(--function), outline var(--duration) var(--function), background-color var(--duration) var(--function);
}
.form__input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(60, 235, 150, 0.0901960784);
}
.form__input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(235, 60, 60, 0.1176470588);
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--duration) var(--function);
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  fill: var(--accent-color);
}
.form__feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.form__feedback:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__check-field {
  margin-bottom: 30px;
}
.form__check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-text-color);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--function), border-color var(--duration) var(--function);
}
.form__check-input:checked + .form__check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.form__check-input:focus + .form__check-text span, .form__check-input:hover + .form__check-text span {
  border-color: var(--accent-color);
}
.form__check-icon {
  fill: transparent;
  transition: fill var(--duration) var(--function);
}
.form__check-input:checked + .form__check-text .form__check-icon {
  fill: #ffffff;
}
.form__check-link {
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  margin-left: 6px;
}

.submit {
  text-align: center;
}
.submit__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--duration) var(--function);
}
.submit__btn:hover, .submit__btn:focus {
  background-color: #188ce8;
}
.form:invalid .submit__btn {
  pointer-events: none;
}

/* Добавляется скриптом к модалке */
.modal-animation {
  animation: rotateY 1300ms linear 400ms;
}

@keyframes rotateY {
  0% {
    transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
  }
  25% {
    transform: translate(-50%, -50%) perspective(1500px) rotateY(15deg);
  }
  50% {
    transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
  }
  75% {
    transform: translate(-50%, -50%) perspective(1500px) rotateY(-10deg);
  }
  100% {
    transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
  }
}
.header {
  border-bottom: var(--header-border) solid #ececec;
}
.header__flex-wrap, .header__nav-wrap {
  display: flex;
  align-items: center;
}
.header__navigation {
  margin-left: 93px;
}
.header__contacts {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  padding: 32px 2px;
  position: relative;
  transition: color var(--duration) var(--function);
}
.navigation__link.current {
  color: var(--accent-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link.current::after, .navigation__link:hover::after, .navigation__link:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  position: absolute;
  bottom: calc(0px - var(--header-border));
  left: 0;
}

.contacts {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: color var(--duration) var(--function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__mail-icon, .contacts__tel-icon {
  --icon-color: currentColor;
  fill: var(--icon-color);
}

.hero {
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  padding-right: 252px;
  padding-left: 252px;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  max-width: 696px;
  margin-bottom: 30px;
}
.hero__btn {
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
}

.pic-list {
  display: flex;
}
.pic-list__item:not(:last-child) {
  margin-right: 30px;
}
.pic-list__svg-wrap {
  border-radius: 4px;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.pic-list__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-text-color);
}

.workflow {
  padding-top: 0;
}

.photo-list {
  display: flex;
}
.photo-list__item {
  position: relative;
}
.photo-list__item:not(:last-child) {
  margin-right: 30px;
}
.photo-list__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
  padding: 27px 24px;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.team {
  background-color: var(--light-background-color);
}

.cards {
  display: flex;
}
.cards__item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.cards__item:not(:last-child) {
  margin-right: 30px;
}
.cards__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cards__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.cards__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--description-text-color);
  margin-bottom: 16px;
}

.logos {
  display: flex;
  justify-content: space-between;
}
.logos__item {
  width: 170px;
  height: 92px;
}
.logos__link {
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--duration) var(--function), border-color var(--duration) var(--function);
}
.logos__link:hover, .logos__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.logos__icon {
  --icon-color: currentColor;
  fill: var(--icon-color);
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__flex-wrap {
  display: flex;
}
.footer__address-wrap {
  margin-right: 70px;
}
.footer__address {
  margin-top: 20px;
}
.footer__soc-wrap {
  padding-top: 12px;
}
.footer__soc-text {
  color: var(--light-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__email {
  margin-left: auto;
  padding-top: 12px;
}

.address {
  font-style: normal;
}
.address__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
  margin-bottom: 9px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.email__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
  display: block;
  margin-bottom: 20px;
}
.email__form {
  display: flex;
  gap: 12px;
}
.email__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: 1px solid rgba(255, 255, 255, 0.3);
}
.email__btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 10px;
  align-items: center;
}
.email__icon {
  fill: currentColor;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter {
  display: flex;
  justify-content: center;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  background-color: var(--light-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  height: 38px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color var(--duration) var(--function), background-color var(--duration) var(--function), box-shadow var(--duration) var(--function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product-card__item {
  /* calc((100% - кол-во_зазоров_в_строке * значение_
  одного_зазора) / кол-во_элементов_в_строке) */
  flex-basis: calc((100% - 60px) / 3);
}
.product-card__link {
  transition: box-shadow var(--duration) var(--function);
}
.product-card__link:hover, .product-card__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-card__img-wrap {
  position: relative;
  overflow: hidden;
}
.product-card__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  position: absolute;
  top: 1px;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--duration) var(--function);
}
.product-card__link:hover .product-card__overlay-text {
  transform: translateY(0);
}
.product-card__desc-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.product-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-text-color);
  margin-bottom: 4px;
}
.product-card__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--description-text-color);
}/*# sourceMappingURL=main.css.map */