:root {
	--accent-color: #2196f3;
	--dark-text-color: #212121;
	--light-text-color: #ffffff;
	--description-text-color: #757575;
	--dark-background-color: #2f303a;
	--light-background-color: #f5f4fa;
	--main-background-color: #ffffff;
	--duration: 250ms;
	--function: cubic-bezier(0.4, 0, 0.2, 1);

	--header-border: 1px;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--main-background-color);
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.container {
	margin: 0 auto;
	width: 1200px; /* 1170px + 15px left + 15px right */
	padding-right: 15px;
	padding-left: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;

	margin-bottom: 50px;
}

.link {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.btn {
	font-family: inherit;
	letter-spacing: inherit;
	font-size: 16px;
	border: 1px solid transparent;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav-list .link.current {
	color: var(--accent-color);
}

/* ------------header------------ */

.header {
	border-bottom: var(--header-border) solid #ececec;
}

.header-flex,
.header-nav {
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.header-logo {
	color: #000000;
}

.nav-list {
	display: flex;
	margin-left: 93px;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link,
.contacts-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav-link {
	color: var(--dark-text-color);

	padding: 32px 2px;

	position: relative;

	transition: color var(--duration) var(--function);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: currentColor;
	border-radius: 2px;

	position: absolute;
	bottom: calc(0px - var(--header-border));
	left: 0;
}

.header-contacts {
	display: flex;
	margin-left: auto;
}

.header-contacts-item:not(:last-child) {
	margin-right: 30px;
}

.contacts-link {
	color: var(--description-text-color);
	display: inline-flex;
	gap: 10px;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--duration) var(--function);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}

.header-mail-icon,
.header-tel-icon {
	--icon-color: currentColor;
	fill: var(--icon-color);
}

/* ------------main------------ */

/* ------------hero------------ */

.hero {
	text-align: center;

	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin: 0 auto;
	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero .container {
	padding-right: 252px;
	padding-left: 252px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--light-text-color);

	max-width: 696px;
	margin-bottom: 30px;
}

.hero-btn {
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--light-text-color);
	background-color: var(--accent-color);

	min-width: 216px;
	height: 50px;
	padding: 10px 32px;
	border-radius: 4px;
	transition: background-color var(--duration) var(--function);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: #188ce8;
}

/* ------------benefits------------ */

.benefits-list {
	display: flex;
}

.benefits-item:not(:last-child),
.workflow-item:not(:last-child),
.team-item:not(:last-child) {
	margin-right: 30px;
}

.benefits-svg-wrap {
	border-radius: 4px;
	background-color: #f5f4fa;
	width: 100%;
	height: 120px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.benefits-item-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.benefits-item-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--description-text-color);
}

/* ------------workflow photos------------ */

.workflow {
	padding-top: 0;
}

.workflow-list {
	display: flex;
}

.workflow-item {
	position: relative;
}

.workflow-photo-description {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--light-text-color);

	padding: 27px 24px;
	width: 100%;
	min-height: 70px;
	background: rgba(47, 48, 58, 0.8);

	position: absolute;
	bottom: 0;
	left: 0;
}

/* ------------team------------ */

.team {
	background-color: var(--light-background-color);
}

.team-list {
	display: flex;
}

.team-item {
	background-color: var(--main-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	width: 270px;
}

.member-card-wrap {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-member-photo {
}

.team-member-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;

	margin-bottom: 10px;
}

.team-member-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--description-text-color);

	margin-bottom: 16px;
}

.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.team-soc-item {
	width: 44px;
	height: 44px;
}

.team-soc-link {
	height: 100%;
	border-radius: 50%;
	background-color: var(--main-background-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;
	transition: color var(--duration) var(--function), background-color var(--duration) var(--function);
}

.team-soc-link:hover,
.team-soc-link:focus {
	color: var(--main-background-color);
	background-color: var(--accent-color);
}

.team-soc-icon {
	--icon-color: currentColor;
	fill: var(--icon-color);
}

/* ------------clients------------ */

.clients-list {
	display: flex;
	justify-content: space-between;
}

.clients-item {
	width: 170px;
	height: 92px;
}

.clients-link {
	height: 100%;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	color: #afb1b8;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: color var(--duration) var(--function), border-color var(--duration) var(--function);
}

.clients-link:hover,
.clients-link:focus {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.clients-icon {
	--icon-color: currentColor;
	fill: var(--icon-color);
}

/* ------------footer------------ */

.footer {
	background-color: var(--dark-background-color);

	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-flex-wrap {
	display: flex;
	position: relative;
}
.contacts-wrap {
	margin-right: 70px;
}
.footer-logo {
	color: var(--light-text-color);
}

.address {
	font-style: normal;

	margin-top: 20px;
}

.footer-address-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--light-text-color);

	margin-bottom: 9px;
}

.footer-contacts-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contacts-link {
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--duration) var(--function);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
	color: var(--accent-color);
}

.footer-soc-wrap {
	padding-top: 12px;
}

.footer-soc-text {
	color: var(--light-text-color);
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	display: inline-block;
	margin-bottom: 20px;
}

.footer-soc-list {
	display: flex;
	gap: 10px;
}

.footer-soc-item {
	width: 44px;
	height: 44px;
}

.footer-soc-link {
	height: 100%;
	border-radius: 50%;
	background-color: #44454e;
	color: var(--main-background-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color var(--duration) var(--function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
	background-color: var(--accent-color);
}

.footer-soc-icon {
	--icon-color: currentColor;
	fill: var(--icon-color);
}

/* ------------footer-email------------ */

.footer-email-wrap {
	margin-left: auto;
	padding-top: 12px;
}

.footer-email-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--light-text-color);

	display: block;
	margin-bottom: 20px;
}

.footer-email-form {
	display: flex;
	gap: 12px;
}

.footer-email-input {
	width: 358px;
	height: 50px;
	padding: 15px 16px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background: transparent;
	transition: outline-color var(--duration) var(--function);
}

.footer-email-input:focus {
	outline-color: var(--accent-color);
}

.footer-submit-btn {
	min-width: 200px;
	height: 50px;
	padding: 10px 28px;
	border-radius: 4px;
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--light-text-color);

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;

	transition: background-color var(--duration) var(--function);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
	background-color: #188ce8;
}

.footer-email-form:invalid .footer-submit-btn {
	pointer-events: none;
}

.footer-send-icon {
	fill: currentColor;
}

/* ------------portfolio------------ */

.filter-wrap {
	margin-bottom: 50px;
}

.portfolio-filter {
	display: flex;
	justify-content: center;
}

.filter-item:not(:last-child) {
	margin-right: 8px;
}

.filter-btn {
	font-weight: 500;
	line-height: 1.62;
	text-align: center;
	background-color: var(--light-background-color);

	display: inline-block;
	padding: 6px 22px;
	border-radius: 4px;
	height: 38px;
	transition: color var(--duration) var(--function), background-color var(--duration) var(--function),
		box-shadow var(--duration) var(--function);
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--light-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-item {
	/* calc((100% - кол-во_зазоров_в_строке * значение_
	одного_зазора) / кол-во_элементов_в_строке) */
	flex-basis: calc((100% - 2 * 30px) / 3);
}

.portfolio-link {
	transition: box-shadow var(--duration) var(--function);
}

.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-img-wrap {
	position: relative;
	overflow: hidden;
}

.project-overlay-text {
	font-size: 18px;
	line-height: 1.56;
	color: var(--light-text-color);

	position: absolute;
	top: 1px;
	left: 0;
	height: 100%;
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform var(--duration) var(--function);
	overflow: auto;
}

.portfolio-link:hover .project-overlay-text {
	transform: translateY(0);
}

.portfolio-list .item-wrap {
	padding: 20px 24px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--dark-text-color);

	margin-bottom: 4px;
}

.project-category {
	font-size: 16px;
	line-height: 1.87;
	color: var(--description-text-color);
}

/* ------------modal window------------ */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);

	transition: opacity 500ms var(--function), visibility 500ms var(--function);
}

/* Добавляется скриптом к бэкдропу */
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 500ms var(--function), visibility 500ms var(--function);
}

.modal {
	width: 528px;
	min-height: 581px;
	background: var(--main-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	transition: width 500ms var(--function), transform 500ms var(--function), opacity 500ms var(--function);
}

.backdrop.is-hidden .modal {
	transform: scale(0);
	opacity: 0;
	transition: width 500ms var(--function), transform 500ms var(--function), opacity 500ms var(--function);
}

/* Добавляется скриптом к модалке */
.modal-animation {
	animation: rotateY 1300ms linear 400ms;
}

.modal-close {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--main-background-color);
	border: 1px solid rgba(0, 0, 0, 0.1);

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	right: 8px;
	top: 8px;
}

.modal-svg {
	fill: currentColor;
	transition: fill var(--duration) var(--function);
}

.modal-close:hover .modal-svg,
.modal-close:focus .modal-svg {
	fill: var(--accent-color);
}

.modal-content {
	transform: scale(1);
	transition: transform 500ms var(--function), opacity 700ms var(--function);
}

.backdrop.is-hidden .modal-content {
	transform: scale(0);
	opacity: 0;
	transition: transform 500ms var(--function), opacity 500ms var(--function);
}

/* ------------modal form------------ */

.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--dark-text-color);

	display: block;
	margin-bottom: 12px;
}

.input-field-item {
	margin-bottom: 10px;
}

.form-label {
	font-family: "Roboto";
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--description-text-color);

	display: block;
	margin-bottom: 4px;
}

.input-wrap {
	position: relative;
}

.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	padding-right: 12px;
	cursor: pointer;

	transition: outline var(--duration) var(--function);
}

.outline {
	outline: 1px solid var(--accent-color);
}

.form-input:focus,
.form-feedback:focus {
	outline-color: var(--accent-color);
}

.form-input:not(:focus):not(:placeholder-shown):valid {
	background-color: #3ceb9617;
}

.form-input:not(:focus):not(:placeholder-shown):invalid {
	background-color: #eb3c3c1e;
}

.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	fill: #212121;
	transition: fill var(--duration) var(--function);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon,
.input-icon:focus {
	fill: var(--accent-color);
}

.form-feedback {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;

	resize: none;
	cursor: pointer;
}

.form-feedback:placeholder-shown {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.check-field {
	margin-bottom: 30px;
}
.input-check {
}

.check-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--description-text-color);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.check-text span {
	width: 16px;
	height: 15px;
	border: 2px solid var(--dark-text-color);
	border-radius: 3px;
	margin-right: 8px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color var(--duration) var(--function), border-color var(--duration) var(--function);
}

.input-check:checked + .check-text span {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.input-check:focus + .check-text span {
	border-color: var(--accent-color);
}

.check-icon {
	fill: transparent;
	transition: fill var(--duration) var(--function);
}

.check-link {
	font-size: 14px;
	line-height: 1.71;
	color: #2196f3;
	margin-left: 6px;
}

.input-check:checked + .check-text .check-icon {
	fill: #ffffff;
}

.modal-submit-wrap {
	text-align: center;
}

.modal-form-submit {
	font-weight: 700;
	line-height: 1.87;
	color: var(--light-text-color);
	text-align: center;
	letter-spacing: 0.06em;

	min-width: 200px;
	height: 50px;
	background-color: var(--accent-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	padding: 10px 52px;
	transition: background-color var(--duration) var(--function), box-shadow var(--duration) var(--function);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form:invalid .modal-form-submit {
	pointer-events: none;
}

/* ------------animations------------ */

@keyframes rotateY {
	0% {
		transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
	}

	25% {
		transform: translate(-50%, -50%) perspective(1500px) rotateY(15deg);
	}

	50% {
		transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
	}

	75% {
		transform: translate(-50%, -50%) perspective(1500px) rotateY(-10deg);
	}

	100% {
		transform: translate(-50%, -50%) perspective(1500px) rotateY(0deg);
	}
}
