.item-soc {
	display: flex;
	justify-content: center;
	gap: 10px;

	list-style: none;
}

.item-soc-link {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-decoration: none;

	width: 44px;
	height: 44px;
	border-radius: 50%;
	fill: var(--fill-svg-color);
	background-color: inherit;
	/* меняется цвет фона у линка, транзишн на линк */
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* меняем бєкграунд линку */
.item-soc-link:focus,
.item-soc-link:hover {
	background-color: var(--second-title-color);
}

/* меняем заливку иконкам при ховере линка */
.item-soc-link:hover .link-icon,
.item-soc-link:focus .link-icon {
	fill: var(--primary-white-color);
}

.link-icon {
	fill: var(--fill-svg-color);
	/* меняется цвет иконки с ховером, соответственно - транзишн на филл */
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	/* высоту и ширину мы прописываем в теге свг*/
	height: 20px;
	width: 20px;
}
