:root {
	--accent-color: #2196f3;
	--dark-text-color: #212121;
	--light-text-color: #ffffff;
	--description-text-color: #757575;
	--dark-background-color: #2f303a;
	--light-background-color: #f5f4fa;
	--main-background-color: #ffffff;
	--duration: 250ms;
	--function: cubic-bezier(0.4, 0, 0.2, 1);

	--header-border: 1px;
}
