.container {
	width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

@include mobile {
	.container {
		width: 480px;
	}
}

@include tablet {
	.container {
		width: 768px;
	}
}

@include desctop {
	.container {
		width: 1200px;
	}
}
