.logo {
	font-family: "Raleway";
	@include font(700, 24px, 1.17, null);
	color: var(--accent-color);

	@media screen and (min-width: 1200px) {
		@include font(null, 26px, 1.19, null);
	}
}

.logo__decor--dark {
	color: #000000;
}

.logo__decor--light {
	color: var(--light-text-color);
}
