.menu-btn {
	background-color: transparent;
	border: 1px solid transparent;
	display: inline-flex;
	margin: 0;
	padding: 0;
	cursor: pointer;

	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 300;

	@include tablet {
		display: none;
	}
}

.menu-btn__svg {
	fill: currentColor;

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.menu-btn__icon-open {
}

.menu-btn.is-open .menu-btn__icon-open {
	display: none;
}

.menu-btn__icon-close {
	display: none;
}

.menu-btn.is-open .menu-btn__icon-close {
	display: block;
}
