// .menu-backdrop {
// 	@media screen and (max-width: 767px) {
// 		opacity: 0;
// 		visibility: hidden;
// 		pointer-events: none;

// 		&.is-open {
// 			position: fixed;
// 			top: 0;
// 			left: 0;
// 			z-index: 200;

// 			width: 100vw;
// 			height: 100vh;
// 			background: rgba(0, 0, 0, 0.2);
// 			overflow-y: auto;

// 			opacity: 1;
// 			visibility: visible;
// 			pointer-events: initial;

// 			transition: opacity 350ms var(--function), visibility 350ms var(--function);
// 		}
// 	}

// 	@include tablet {
// 		flex-grow: 1;
// 	}
// }

.menu-backdrop {
	@media screen and (max-width: 479px) {
		padding: 38px 30px;
		// min-height: auto;
	}

	@media screen and (min-width: 480px) and (max-width: 767px) {
		padding: 48px 40px;
		// min-height: 796px;
	}

	@media screen and (max-width: 767px) {
		display: none;
		width: 100vw;
		height: 100vh;
		background-color: var(--main-background-color);

		position: fixed;
		top: 0;
		left: 0;

		// transform: translateX(-100%);

		transition: transform 350ms var(--function) 150ms;

		&.is-open {
			display: block;
			z-index: 200;
			// transform: translateX(0);
		}
	}

	@include tablet {
		flex-grow: 1;
	}
}

.menu-container {
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		width: 480px;
	}

	// @media screen and (max-width: 479px) {
	// 	padding: 38px 30px;
	// 	// min-height: auto;
	// }

	// @media screen and (min-width: 480px) and (max-width: 767px) {
	// 	padding: 48px 40px;
	// 	// min-height: 796px;
	// }

	// @media screen and (max-width: 767px) {
	// 	display: none;
	// 	width: 100vw;
	// 	height: 100vh;
	// 	background-color: var(--main-background-color);

	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;

	// 	// transform: translateX(-100%);

	// 	transition: transform 350ms var(--function) 150ms;

	// 	&.is-open {
	// 		display: block;
	// 		// transform: translateX(0);
	// 	}
	// }

	@media screen and (max-width: 767px) {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@include tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu {
	@include tablet {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			@media screen and (max-width: 767px) {
				margin-bottom: 32px;
			}

			@include tablet {
				margin-right: 50px;
			}
		}
	}

	&__link {
		@include font(500, 25px, 1.17, 0.02em);
		color: var(--dark-text-color);

		@include mobile {
			@include font(500, 40px, 1.17, 0.02em);
		}

		@include tablet {
			@include font(500, 14px, 1.14, 0.02em);

			padding: 32px 2px;
			position: relative;

			transition: color var(--duration) var(--function);
		}

		&:hover,
		&:focus {
			color: var(--accent-color);
		}

		&.current {
			color: var(--accent-color);
		}

		&.current::after,
		&:hover::after,
		&:focus::after {
			@include tablet {
				content: "";
				display: block;
				width: 100%;
				height: 4px;
				background-color: currentColor;
				border-radius: 2px;

				position: absolute;
				bottom: calc(0px - var(--header-border));
				left: 0;
			}
		}
	}
}

.contacts {
	@include tablet {
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
	}

	@include desctop {
		flex-direction: row-reverse;
		gap: 30px;
	}

	&__item:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 32px;
		}
		// @media screen and (min-width: 768px) and (max-width: 1199px) {
		// 	margin-bottom: 10px;
		// }
	}

	&__link-tel {
		@include font(500, 24px, 1.17, 0.02em);
		color: var(--accent-color);

		@include mobile {
			@include font(500, 34px, 1.17, 0.02em);
		}
	}

	&__tel-icon,
	&__mail-icon {
		display: none;

		@include tablet {
			display: block;
			fill: currentColor;
		}
	}

	&__link-mail {
		@include font(500, 20px, 1.17, 0.02em);
		color: var(--description-text-color);

		@include mobile {
			@include font(500, 24px, 1.17, 0.02em);
		}

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	&__link-tel,
	&__link-mail {
		@include tablet {
			@include font(500, 12px, 1.17, 0.02em);
			color: var(--description-text-color);

			display: inline-flex;
			align-items: center;
			gap: 10px;

			transition: color var(--duration) var(--function);
		}

		@include desctop {
			@include font(500, 14px, 1.14, 0.02em);
			padding-top: 32px;
			padding-bottom: 32px;
		}

		&:hover,
		&:focus {
			@include tablet {
				color: var(--accent-color);
			}
		}
	}
}

.soc-list {
	display: flex;
	align-items: center;

	@include tablet {
		display: none;
	}

	&__item:not(:last-child) {
		border-right: 1px solid var(--accent-color);
		padding-right: 10px;
		margin-right: 10px;
	}

	&__link {
		@include font(500, 13px, 1.22, 0.02em);
		color: var(--accent-color);

		@include mobile {
			@include font(500, 18px, 1.22, 0.02em);
		}
	}
}
