.pic-list {
	@include tablet {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	@include desctop {
		flex-wrap: nowrap;
	}

	&__item {
		@include tablet {
			flex-basis: calc((100% - 30px) / 2);
		}

		@include desctop {
			flex-basis: calc((100% - 3 * 30px) / 4);
		}
	}

	&__item:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	&__svg-wrap {
		border-radius: 4px;
		background-color: #f5f4fa;

		width: 100%;
		height: 120px;
		margin-bottom: 30px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		@include font(null, 14px, 1.14, null);
		text-transform: uppercase;

		margin-bottom: 10px;

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}

	&__description {
		@include font(null, 14px, 1.71, null);
		color: var(--description-text-color);
	}
}
