.footer {
	background-color: var(--dark-background-color);

	&__flex-wrap {
		@media screen and (max-width: 1199px) {
			text-align: center;
		}

		@include desctop {
			display: flex;
			justify-content: space-between;
		}
	}

	&__tablet-wrap {
		@include tablet {
			display: flex;
			justify-content: space-between;
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			margin-bottom: 60px;
		}

		@include desctop {
			width: 510px;
		}
	}

	&__address-wrap {
		@media screen and (max-width: 767px) {
			margin-bottom: 60px;
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			margin-left: 75px;
		}
	}

	&__address {
		margin-top: 20px;
	}

	&__soc-wrap {
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			margin-right: 75px;
		}

		@include desctop {
			padding-top: 12px;
		}
	}

	&__soc-text {
		color: var(--light-text-color);
		@include font(null, 14px, 1.14, null);
		text-transform: uppercase;

		display: inline-block;
		margin-bottom: 20px;
	}

	&__email {
		@media screen and (max-width: 1199px) {
			margin-top: 60px;
		}

		@include desctop {
			padding-top: 12px;
		}
	}
}

.address {
	font-style: normal;

	&__text {
		@include font(null, 14px, 1.71, null);
		color: var(--light-text-color);

		margin-bottom: 8px;
	}

	&__item:not(:last-child) {
		margin-bottom: 8px;
	}

	&__link {
		@include font(null, 14px, 1.71, null);
		color: rgba(255, 255, 255, 0.6);

		transition: color var(--duration) var(--function);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}
}

.email {
	&__title {
		@include font(null, 14px, 1.14, null);
		text-transform: uppercase;
		color: var(--light-text-color);

		display: block;
		margin-bottom: 20px;
	}

	&__form {
		@include desctop {
			display: flex;
			gap: 12px;
		}
	}

	&__input {
		width: 358px;
		height: 50px;
		padding: 15px 16px;
		background-color: transparent;

		@include font(null, 16px, 1.25, 0.03em);
		color: rgba(255, 255, 255, 0.6);

		outline: 1px solid rgba(255, 255, 255, 0.3);

		@media screen and (max-width: 479px) {
			width: 100%;
		}

		@media screen and (max-width: 1199px) {
			margin-bottom: 20px;
		}

		@include tablet {
			width: 450px;
		}

		@include desctop {
			width: 358px;
		}
	}

	&__btn {
		min-width: 200px;
		height: 50px;
		padding: 10px 28px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		display: flex;
		gap: 10px;
		align-items: center;

		margin-right: auto;
		margin-left: auto;
	}

	&__icon {
		fill: currentColor;
	}
}
