.header {
	border-bottom: var(--header-border) solid #ececec;

	&__flex-wrap,
	&__nav-wrap {
		display: flex;
		align-items: center;
	}

	&__navigation {
		margin-left: 93px;
	}

	&__contacts {
		margin-left: auto;
	}
}

.navigation {
	display: flex;
	align-items: center;

	&__item:not(:last-child) {
		margin-right: 50px;
	}
	&__link {
		@include font(500, 14px, 1.14, 0.02em);
		color: var(--dark-text-color);

		padding: 32px 2px;
		position: relative;

		transition: color var(--duration) var(--function);

		&.current {
			color: var(--accent-color);
		}

		&:hover,
		&:focus {
			color: var(--accent-color);
		}

		&.current::after,
		&:hover::after,
		&:focus::after {
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			background-color: currentColor;
			border-radius: 2px;

			position: absolute;
			bottom: calc(0px - var(--header-border));
			left: 0;
		}
	}
}

.contacts {
	display: flex;

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__link {
		@include font(500, 14px, 1.14, 0.02em);
		color: var(--description-text-color);

		padding-top: 32px;
		padding-bottom: 32px;

		display: inline-flex;
		align-items: center;
		gap: 10px;

		transition: color var(--duration) var(--function);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	&__mail-icon,
	&__tel-icon {
		--icon-color: currentColor;
		fill: var(--icon-color);
	}
}
