.portfolio {
	&__filter {
		// margin-bottom: 50px;
		margin-bottom: 40px;
	}
}

.filter {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;

	@media screen and (max-width: 767px) {
		row-gap: 15px;
	}

	@media screen and (min-width: 767px) {
		justify-content: center;
	}

	&__btn {
		font-family: inherit;
		@include font(500, 16px, 1.62, 0.06em);
		background-color: var(--light-background-color);
		border: 1px solid transparent;
		border-radius: 4px;

		display: inline-block;
		height: 38px;
		padding: 6px 22px;

		cursor: pointer;

		transition: color var(--duration) var(--function), background-color var(--duration) var(--function),
			box-shadow var(--duration) var(--function);

		&:hover,
		&:focus {
			color: var(--light-text-color);
			background-color: var(--accent-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}
}

.product-card {
	@media screen and (min-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__item {
		/* calc((100% - кол-во_зазоров_в_строке * значение_
	одного_зазора) / кол-во_элементов_в_строке) */
		@media screen and (min-width: 767px) {
			flex-basis: calc((100% - 30px) / 2);
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 2 * 30px) / 3);
		}

		&:not(:last-child) {
			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;

		transition: box-shadow var(--duration) var(--function);

		&:hover,
		&:focus {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__img-wrap {
		position: relative;
		overflow: hidden;
	}

	&__overlay-text {
		@include font(null, 18px, 1.56, null);
		color: var(--light-text-color);

		position: absolute;
		top: 1px;
		left: 0;
		height: 100%;
		padding: 63px 24px;
		background: rgba(33, 150, 243, 0.9);

		overflow: auto;
		transform: translateY(100%);
		transition: transform var(--duration) var(--function);

		.product-card__link:hover & {
			transform: translateY(0);
		}
	}

	&__desc-wrap {
		padding: 20px 24px;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;

		@media screen and (min-width: 768px) {
			flex-grow: 1;
		}
	}

	&__title {
		@include font(null, 18px, 2, 0.06em);
		color: var(--dark-text-color);

		margin-bottom: 4px;
	}

	&__description {
		@include font(null, 16px, 1.87, null);
		color: var(--description-text-color);
	}
}
