.team {
	background-color: var(--light-background-color);
}

.cards {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
	}

	&__item {
		background-color: var(--main-background-color);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;

		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 30px) / 2);
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 3 * 30px) / 4);
			flex-wrap: nowrap;
		}

		&:not(:last-child) {
			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
	}

	&__wrap {
		padding-top: 30px;
		padding-bottom: 24px;
	}

	&__title {
		@include font(500, 16px, 1.19, null);
		text-align: center;

		margin-bottom: 10px;
	}

	&__description {
		@include font(null, 16px, 1.19, null);
		text-align: center;
		color: var(--description-text-color);

		margin-bottom: 16px;
	}
}
